html, body, p {
    border: 0;
    margin: 0;
}

video,canvas {
    box-sizing: border-box;
    border : 3px solid green;
    /* width: 320px;
    height : 240px; */
    
}

video {
    display: none;
}